blinker==1.4
cffi==1.4.2
cryptography==1.1.2
enum34==1.1.2
Flask==0.10.1
Flask-DebugToolbar==0.10.0
Flask-Mail==0.9.1
flask-mongoengine==0.7.4
Flask-WTF==0.12
gunicorn==19.4.3
idna==2.0
ipaddress==1.0.16
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
mongoengine==0.10.5
ndg-httpsclient==0.4.0
pyasn1==0.1.9
pycparser==2.14
pymongo==3.2
pyOpenSSL==0.15.1
pytz==2015.7
requests==2.9.1
simplejson==3.8.1
six==1.10.0
Werkzeug==0.11.3
WTForms==2.1
yahoo-finance==1.2.1
