<!DOCTYPE html>

<html>
    <head>
		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}" rel="stylesheet"/>
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet"/>

        {% if title %}
            <title>C$50 Finance: {{ title }} </title>
        {% else %}
            <title>C$50 Finance</title>
        {% endif %}

        <script src="{{url_for('static',filename='js/jquery-1.11.1.min.js')}}"></script>
        <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
        <script src="{{url_for('static',filename='js/scripts.js')}}"></script>
    </head>

    <body>

        <div class="container">

            <div id="top">
                <a href="/"><img class="img-responsive" alt="C$50 Finance" src="{{ url_for('static', filename='img/logo.gif') }}"/></a>
            </div>
            {%if no is undefined%}
            <div id='nav'>
              <nav class="navbar navbar-default ">
                <div class="container-fluid">
                  <div class="navbar-header">

                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                    <a href="#" class="navbar-brand">Menu</a>
                  </div>
                  <div id='navbar' class="navbar-collapse collapse" style="width: 357px;
    margin: 0px auto;">
                      <ul class="nav navbar-nav">
                        <li><a href="{{url_for('.quote')}}" >Quote</a></li>
                        <li><a href="{{url_for('.sell')}}">Sell</a></li>
                        <li><a href="{{url_for('.buy')}}">Buy</a></li>
                        <li><a href="{{url_for('.history')}}">History</a></li>
                        <li><a href="{{url_for('.logout')}}"><strong>Logout</strong></a></li>
                     </ul>
                   </div>
                </div>
              </nav>
            </div>
            {%endif%}
            <div id="middle">
              {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                  {% for category, message in messages %}
                    <h3><span class= {{ category }}>{{ message }}</span></h3>
                  {% endfor %}
                {% endif %}
              {% endwith %}
            {% block content %}
            {% endblock %}
            </div>

            <div id="bottom">
              Copyright &#169; Ibrahim Jarif
            </div>

          </div>
    </body>

</html>
