{% extends 'layout.html'%}
{% set page = 'portfolio' %}
{% block content %}
  <table class="table">
    <thead>
      <tr>
        <th>Symbol</th>
        <th>Shares</th>
        <th>Price</th>
        <th>Value</th>
      </tr>
    </thead>
    {% for s in stocks %}
    <tr>
      <td>{{s['name']}}</td>
      <td>{{s['shares']}}</td>
      <td>${{s['cost']}}</td>
      <td>${{s['value']}}</td>
    </tr>
  {% endfor %}
  <tr>
    <td colspan="3" style="text-align: left"><strong>Cash</strong></td>
    <td>${{cash}}</td>
  </tr>
</table>
{% endblock %}
