{% extends 'layout.html' %}
{% set page = 'quote' %}
{% block content %}

{% if quote is defined %}
  <h1 class='text-success'><strong>{{stock}}</strong>: ${{quote}}</h1>
{% elif stock is defined  %}
  <h1 class="text-danger"><strong>{{stock}}</strong>: Stock symbol not found. Please <a href="http://eoddata.com/symbols.aspx" target="_blank">click here</a> for the list of stock symbols</h1>
{% endif %}
<form class='form-horizontal' action="{{url_for('quote')}}" method="get">
  <div class='form-group'><input type="text" name='stock' id='stock' class="form-control" placeholder='Stock'/></div>
  <div class="form-group"><input type='submit' class="btn btn-default" value='Get Quote'/></div>
</form>

{% endblock %}
